<h1>Домашние задания</h1>
<table>
    <tr>
        <th>Заголовок</th>
        <th>Предмет</th>
        <th>Учитель</th>
        <th>Описание</th>
        <th>Срок сдачи</th>
        <th>Ответ</th>
    </tr>
    {% for item in homework %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.teacher }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.due_date }}</td>
    </tr>
    {% endfor %}
</table>
<table>
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <!-- <input type="hidden" name="homework" id="id_homework" value="{{ item.title }}"> -->
    <input type="submit" value="Submit">
</form>
</table>